.container {
  border-radius: 0.6rem;
  width: 900px;
  height: fit-content;
  backdrop-filter: blur(10px);
  box-shadow: 12px 12px 2px 1px rgba(53, 53, 228, 0.288);
  margin: auto;
}

.charts{
  margin:3rem;
  background-color: #eceaea;
  width: 95%;
  border: 1px solid black;
  border-radius: 0.6rem;
  margin: 0.8rem auto;
  width: 95%;
  background-color: #eceaea;
}

.chart_header {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.chart_container{
  display: flex;
  justify-content: center;
  align-items: center;
}